@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');
/* 
* {
  outline: 1px red solid;
} */

::-webkit-scrollbar {
  @apply w-[4px]
}

::-webkit-scrollbar-thumb {
  @apply rounded-full bg-gray-400/50
}

body {
  @apply bg-neutral-100 font-raleway
}

#root {
  @apply min-h-screen container mx-auto flex justify-center
}

.container-box {
  @apply my-6 w-full flex flex-col items-center
}

#search {
  @apply rounded-full px-2 max-h-8 h-8 w-1/2 mb-6 leading-8 text-gray-700 font-semibold text-sm tracking-wide
}

.scroll-zone {
  @apply overflow-auto invisible hover:visible transition-all h-full mx-auto min-w-max w-full max-w-full
}

.note-container {
  @apply h-full min-w-max w-full flex flex-wrap gap-8 mx-auto justify-center visible py-8
}

.note {
  @apply w-2/5 h-2/5 min-h-[10rem] md:w-1/4 rounded-3xl transition-all duration-500 p-4 font-medium text-gray-700 relative
}

.note {
  box-shadow: inset 10px 10px 20px #d5d5d5,
            inset -10px -10px 20px #ffffff;
       
}

.note:hover {
  box-shadow: 10px 10px 32px #cecece,
             -10px -10px 32px #ffffff;
  scale: 1.1;
}

.button-container {
  @apply absolute bottom-4 right-4 flex flex-col-reverse gap-1
}

.button {
  @apply rounded-full p-1 text-white/90 text-lg
}

.click {
  @apply bg-orange-400 hover:bg-orange-500 !visible
}

.delete {
  @apply invisible bg-red-500 hover:bg-red-600
}

.edit {
  @apply invisible bg-pink-400 hover:bg-pink-500
}